*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color:#000000;
    color: #f2eff5;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    }

.apresentacao__conteudo__titilo{
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-size: 20px;
}