body{
    background-color:#000000;
    color: #f2eff5;
}

strong {
    color: #22D4FD;
}

h1 {
    font-weight: bold;
}

span {
    color: #22D4FD;
    padding: 10px;
}

img{
    src="Paulo.jpg" alt="Image" height="10" width="10">
} 