@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-background: #1A3C40;
    --color-text: #EDE6DB;
    --color-emphasis: #417D7A;
    --color-hover: #1D5C63;

    --font-frist: 'Krona One', sans-serif;
    --font-secund: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-text);
}
.titulo-destaque{
    color: var(--color-emphasis);
}
.cabecalho{
    padding: 2% 0% 0% 15%; 
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--font-secund);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-emphasis);
}
.apresentacao{
    padding: 2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo{
    font-size: 1.85rem;
    font-family: var(--font-frist);
}
.apresentacao__conteudo__texto{
    font-size: 1.15rem;
    font-family: var(--font-secund);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--font-frist);
    font-weight: 400;
    font-size: 1.25rem;
}
.apresentacao__links__navegacao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--color-emphasis);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-secund);
}
.apresentacao__links__link:hover{
    background-color: var(--color-hover);
}
.apresentacao__imagem{
    width: 50%;
}
.rodape{
    color: var(--color-background);
    background-color: var(--color-emphasis);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secund);
    font-size: 1.5rem;
    font-weight: 400;
}